<h1>Editing link</h1>
<div class="card p-3 shadow-sm w-75 mx-auto">
  <%= render "form", link: @link %>
  <br>

  <div>
    <%= link_to "Show this link", @link %> |
    <%= link_to "Back to links", links_path %>
  </div>
</div>