

<h1>Your Links</h1>
<hr class=" mb-3"/>
<div class="text-center my-3" >
  <%= link_to "New link", new_link_path, class:"btn btn-success shadow"%>
</div>
<div class="list-group mt-3 shadow-sm" id="links">
  <% @links.each do |link| %>
    <div class="list-group-item">
      <%= render link, link:link %>
      <p>
        <%= link_to "Show this link", link, class:" btn btn-light shadow-sm" %>
      </p>
    </div>
  <% end %>
</div>
<%= paginate @links %>