<h1>Enter Password</h1>

<%= form_tag(validate_password_path(slug: @slug), method: :post) do %>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
<% end %>